// Body
$body-bg: #FFFBF5;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #7743DB;
$danger: #ff4136;
$no-name: #F7EFE5;
$no-name-: #C3ACD0;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);