// Body
$body-bg: #FFFBF5;

// Typography
$font-family-sans-serif:  "Source Code Pro", monospace;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #4285f4;
$danger: #ff4136;
$no-name: #F7EFE5;
$no-name-: #C3ACD0;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);