.App{
    position: relative;
    overflow-x: clip;
    background-color: white;
  }
  .App>:nth-child(1)
  {
    background: var(--black);
    position: relative;
  }
  .white-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.522);
    filter: blur(100px);
    border-radius: 100px;
  }
  .launchlist-form {
  
    padding: 10px;
    border-radius: 10px;
    max-width: 800px; /* Adjusted width for horizontal alignment */
    margin: 0 auto;
    text-align: center;
  }
  
  .launchlist-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form Group */
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  /* Input Field Styling */
  .form-input {
    width: 30%; /* Adjust the width so the inputs fit horizontally */
    padding: 10px ;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #6c63ff;
  }
  
  /* Button Styling */
  .form-button {
    background-color: #2016d0;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Prevents button text from breaking */
  }
  
  .form-button:hover {
    background-color: #0a0911;
  }
  
